{{- $footer      := .Site.Params.footer }}
{{- $copyright   := index $footer "copyright" }}
{{- $quickLines  := index $footer "quicklines" }}
<footer class="footer footer-dark">
  <div class="container">
    <div class="columns">
      {{- range $quickLines }}
        <div class="column">
          <div class="footer-column">
            <div class="footer-header">
                <h3>{{ .title }}</h3>
            </div>
            <ul class="link-list">
              {{- range .lines }}
              <li>
                {{ .text }}
              </li>
              {{- end }}
            </ul>
          </div>
        </div>
      {{- end }}
    </div>
    <div>
      <p>{{ $copyright }}</p>
    </div>
  </div>
</footer>
